html {
    font-size: 16px;
}
body{
    font-family: "Orbitron", serif;
    /*font-family: "Smythe", serif;*/
    margin: 0;
}

.submit-form{
    display: flex;
    flex-direction: column;
   padding: 12em 0.125em 0 0.125em;
   /* border: 2px solid black;  */
   margin: 0 0 0 20em;
}

label{
    font-size: 1.59rem;
}

input , textarea{
    font-size: 1.2rem;
    width: 40em;
    color: black;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
}
textarea{
    margin: 1em 0 0 0;
    resize: none;
    height: 12em;
}

button{
    font-size: 2rem;
    padding: 20px;
    font:2em bold black ;
    margin-top: 2rem;
    width: 6em;
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Orbitron", Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

header{
         font-family: "Chewy", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        position: fixed;
        background: burlywood;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: center;


    /*margin: 0;*/
        }
#blog-content {
    padding: 60px 30px 0 30px;
    width: 70em;
    margin: 0 auto;
}

#blog-content h1::first-letter{
    font-family: "Smythe", serif;
    text-transform: uppercase;
    color: burlywood;
    text-decoration: underline ;
    font-size: 3rem;
}